# Prerequisites
*.d

# Compiled object and resource files
*.slo
*.lo
*.o
*.obj
*.res

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc. junk:
tmp/
a.exe.stackdump
